<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- head -->
<head>
	<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>
	<!-- library -->
	<th:block th:replace="/layout/fragments/library :: libraryFragment"></th:block>
</head>

<body>
	<!-- contents -->
	<th:block layout:fragment="content"></th:block>
	<!-- // contents -->
	<!-- loading -->
	<div id="loading" class="hidden">
		<div class="loading"></div>
		<div class="overlayBlack_bg"></div>
	</div>
	<!-- // loading -->
</body>

</html>