<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/single}">

<th:block layout:fragment="content">
	<div class="ivr">
		<!-- Contents -->
		<div class="container_wrapper">
			<div class="container">
				<div class="contents">
					<div class="displayMiddle">
						<section class="row">
							<div class="imgBox">
								<p class="imageIcon">
									<span class="icon transfer_contactCenter"></span>
								</p>
							</div>
							<div class="small">
								<h2>
									<span class="custom_text">음성 ARS로 연결 됩니다.</span>
								</h2>
								<p class="custom_text_small">
								</p>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		<!-- //Contents -->
	</div>
</th:block>
</html>


